{% extends 'main/template.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
  <main>
    <section class="promo">
      <div class="promo__item promo__item_big">
        <img src="https://t.ly/ENVZR" alt="hot">
        <div class="promo__text">
          <h2>Рейтинг топ-30 колледжей</h2>
          <p>Пупырка входит в топ-30 колледжей российской федерации с 2008 года</p>
          <a href="#">Узнать подробнее</a>
        </div>
      </div>
    </section>

    <section class="tests">
      <h2>Наши специальности</h2>
      <div class="tests__list">
        {% for speciality in specialties %}
          <div class="tests__item">
            <img src="{{ speciality.image_preview_url }}" alt="test 1">
            <h3>{{ speciality.title }}</h3>
            <p>{{ speciality.about }}</p>
            <a href="#">Узнать подробности</a>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>

{% endblock %}