<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'main/image/favicon.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/image/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Пупырка - {% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'about' %}">О нас</a></li>
        <li><a href="{% url 'applicants' %}">Абитуриентам</a></li>
        <li><a href="{% url 'students' %}">Студентам</a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
      </ul>
    </nav>
    <div class="logo">
      <img src="https://t.ly/ENVZR" alt="logo">
    </div>
  </header>
{% block body %}{% endblock %}
  <footer>
    <p>© 2023 Колледж Пупырка</p>
  </footer>
</body>
</html>
